* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* VARIABLES */
:root{
    --font-title: "Poppins", sans-serif;

    --texto: #333333; /*texto general*/
    --bg-blanco: #FFFFFF; /*para fondos*/
    --bg-grisaceo: #F6F7FB; /*para fondos grisaceo */
    --botones-links: #EB7EF5; /*botones, links*/
    --hover: #CB67BE; /*hover */
    --gradiente: linear-gradient(135deg, #EB7EF4, #D436E5);
}
html{
    scroll-behavior: smooth;
    font-family: var(--font-title);
}
html, body{
    overflow-x: hidden;
}
/* NAVBAR FIJA */
.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 120px;
    padding: 0 50px;
    background: var(--bg-blanco);
    box-shadow: 0 2px 15px  rgba(0,0,0,0.1);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-links a {
    font-size: 1rem;
    text-decoration: none;
    color: var(--texto);
    font-weight: 400;
}
.nav-links a:hover {
    color: var(--botones-links);
}
.link-boton{
    padding: 8px 14px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.boton-contacto{
    padding: 1rem 1.5rem;
    margin-left: 2rem;
    background-color: var(--botones-links);
    color: var(--texto);
    border-radius: 8px;
    transition: background-color 0.3s ease;
}
.boton-contacto:hover{
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    background-color: var(--bg-blanco);
    filter: brightness(1.1);
    color: var(--texto);
    border: var(--botones-links);
}

/* SECCIÓN PRESENTACIÓN */
.contenedor-presentacion {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 100vh;
    margin-top: 190px;
    padding: 0 10%;
    background-color: var(--bg-blanco);
}
.presentacion-texto {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}
.presentacion-texto h2 {
    color: var(--texto);
    font-weight: 600;
}
.presentacion-texto span {
    font-size: 3rem;
    color: var(--texto);
    display: block;;
}
.presentacion-texto p {
    color: var(--texto);
    max-width: 500px;
}
.boton-presentacion{
    display: inline-block;
    font-size: 1.2rem;
    padding: 1.5rem 2.5rem;
    background-color: var(--botones-links);
    border-radius: 8px;
    margin-top: 1rem;
    transition: background-color 0.3s ease;
}

.boton-presentacion:hover{
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    background-color: var(--bg-blanco);
    filter: brightness(1.1);
    color: var(--texto);
}
.presentacion-texto a{
    text-decoration: none;
    color: var(--bg-blanco);
    font-weight: 600;
}
.fotografia{
    width: 250px;
    height: 350px;
    filter: drop-shadow(0 0 20px #121212);
    
}

/*CONOCIMIENTOS */
.habilidades-seccion h2{
    font-size: 2.5rem;
    color: var(--texto);
}
.habilidades-seccion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
}
.contenedor-habilidades{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin-top: 3rem;
}

.habilidades-tarjeta{
    width: 180px;
    height: 180px;
    background-color: var(--bg-blanco);
    border-radius: 16px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
    overflow: hidden;
}

.habilidades-tarjeta:hover{
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(0,0,0,0.15);
}

.habilidades-tarjeta img{
    width: 60px;
    transition: transform 0.3s ease;
}
.habilidades-tarjeta:hover img{
    transform: scale(1.1);
}

/* CITA */
.cita {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cita p{
    font-size: 2.5rem;
    text-align: center;
    background: var(--gradiente);
    color: var(--bg-blanco);
    border-radius: 16px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
    margin: 0 auto;
    max-width: 800px;
    padding: 3rem;
}

.autor{
    display: block;
    margin-top: 30px;
    font-size: 1.2rem;
}

/* PROYECTOS */
.trabajos {
    min-height: 100vh;
    padding: 120px 40px;
    background: var(--bg-grisaceo);
}
.trabajos h2 {
    margin-top: 40px;
    text-align: center;
    font-size: 2.5rem;
    color: var(--texto-oscuro);
}

.contenedor-trabajos {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    margin-top: 40px;
}

.trabajo-card {
    width: 300px;
    min-height: 300px;
    background: var(--bg-blanco);
    border-radius: 12px;
    border: 1px solid var(--bg-blanco);
    box-shadow: 0 0 12px rgba(0,0,0,0.06);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    transition: transform 0.2s ease, box-shadow 0.25s ease;
}

.trabajo-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 15px 30px rgba(0,0,0,0.12);
    border-color: var(--botones-links);
}

.trabajo-card img {
    width: 150px;
    margin-bottom: 15px;
}
.trabajo-card h3,
.trabajo-card h4 {
    font-size: 1rem;
    color: var(--texto);
    margin: 0;
    text-align: center;
}

/* CONTACTO */
/* ----- CONTENEDOR PRINCIPAL ----- */
.seccion-contacto{
    background: var(--bg-grisaceo);
    min-height: calc(100vh - 300px);
    padding: 120px 20px;
}
.contenedor-contacto{
    max-width: 900px;
    box-sizing: border-box;
    margin: 0 auto;
    background: var(--bg-blanco);
    border-radius: 18px;
    padding: 30px 40px;
    display: flex;
    gap: 30px;
    box-shadow: 0 4px 16px rgba(0,0,0,0.08);
}

/* ----- COLUMNA IZQUIERDA ----- */
.columna-izquierda{
    width: 45%;
}

.columna-izquierda h2 {
    font-size: 2.2rem;
    font-weight: 800;
}

.columna-izquierda p {
    margin: 20px 0;
    line-height: 1.5;
}

.social {
    list-style: none;
    padding: 0;
    margin-top: 30px;
}

.social li {
    margin-bottom: 15px;
}
.social li a{ 
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 1rem;
    text-decoration: none; 
    color: var(--texto);
    transition: transform 0.3s ease;
}
.social a:hover{
    color: var(--hover);
    transform: translateX(5px);
}
.social a:hover img{
    transition: color 0.3s ease; transform: 0.3s ease;
}
social li a img{
    width: 24px;
    height: 24px;
}

/* ----- COLUMNA DERECHA ----- */
.columna-derecha{
    width: 55%;
}

.columna-derecha h2 {
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 20px;
}

/* ----- FORMULARIO ----- */
.fila {
    display: flex;
    gap: 20px;
}

.campo {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    flex: 1;
}

label {
    font-weight: 600;
    margin-bottom: 5px;
}

input, textarea {
    width: 100%;
    background: var(--bg-grisaceo);
    border: none;
    padding: 12px 15px;
    border-radius: 12px;
    font-size: 1rem;
    outline: none;
}

textarea {
    height: 120px;
    resize: none;
}

/* ----- BOTÓN ----- */
.boton-formulario {
    background: var(--botones-links);
    color: var(--texto);
    border: none;
    padding: 12px 35px;
    font-size: 1.1rem;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}
.boton-formulario:hover {
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    background-color: var(--bg-blanco);
    filter: brightness(1.1);
    color: var(--texto);
    border: var(--botones-links);
}

/* FOOTER */
.footer {
    background: var(--texto);
    color: var(--bg-blanco);
    padding: 20px;
    text-align: center;
}

.footer a {
    color: var(--bg-blanco);
    margin: 0 10px;
    text-decoration: none;
    font-size: 16px;
}
.redes-footer{
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 10px;
}
.icono-footer{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
}
.icono-footer img{
    width: 40px;
    height: 40px;
}
.autor p{
    font-size: 16px;
    font-weight: 400;
}


/* RESPONSIVE TABLET 992PX*/
/*header y barra de navegacion*/
@media (max-width: 992px) {
    html {
        scroll-padding-top: 90px;
    }
    .header {
        height: auto;
        padding: 12px 20px;
        justify-content: center;
    }

    .nav-links {
        flex-wrap: wrap;
        justify-content: center;
        gap: 16px;
    }
    
    .boton-contacto {
        padding: 0.7rem 1.3rem;
        margin-left: 0;
    }
    /*presentacion*/
    .contenedor-presentacion {
        flex-direction: column;
        text-align: center;
        min-height: initial;          
        margin-top: 140px;        
        padding: 40px 8%;
        gap: 40px;
    }

    .presentacion-texto {
        align-items: center;
    }

    .presentacion-texto span {
        font-size: 2.4rem;
    }

    .presentacion-texto p {
        max-width: 100%;
    }

    .fotografia {
        width: 220px;
        height: auto;
    }

    /*habilidades*/
    .habilidades-seccion{
        display: flex;
        justify-content: center;
        padding: 120px 20px;
    }

    .habilidades-seccion h2{
        font-size: 2.2rem;
    }

    .contenedor-habilidades{
        max-width: 900px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;
    }

    .habilidades-tarjeta{
        width: 160px;
        height: 160px;
    }

    .habilidades-tarjeta img{
        width: 55px;
    }
    /*cita*/
    .cita {
        display: flex;
        justify-content: center;
        padding: 120px 120px;
    }

    .cita p {
        max-width: 900px;
        width: 100%;
        margin: 0 auto;
    }

    .autor {
        font-size: 1.1rem;
    }
}
/* RESPONSIVE TABLET CHICA 768PX NO HIZO FALTA TOCAR NADA QUEDO PERFECTO*/
/* RESPONSIVE MOBILE 480PX*/
/*header y barra de navegacion*/
@media (max-width: 480px) {
    .header{
        padding: 15px;
        margin-bottom: 80px;
    }

    .nav-links{
        flex-direction: column;
        align-items: center;
        gap: 12px;
    }

    .nav-links a{
        font-size: 0.9rem;
    }

    .boton-contacto{

        padding: 0.6rem 1rem;
        font-size: 0.9rem;
    }

/*presentacion*/
.contenedor-presentacion{
        padding: 32px 20px;
        width: 100%;
        max-width: 100%;
        box-sizing: border-box;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .presentacion-texto h2{
        font-size: 1.6rem;
    }

    .presentacion-texto span{
        font-size: 1.9rem;
    }

    .presentacion-texto p{
        font-size: 0.95rem;
    }

    .boton-presentacion{
        font-size: 0.95rem;
        padding: 0.9rem 1.6rem;
    }

    .fotografia{
        width: 170px;
    }
/*cita*/
    .cita {
        padding: 2rem 1rem;
    }
    .cita p {
        font-size: 1.3rem;
        line-height: 1.6;
        padding: 1.5rem;
        max-width: 100%;
    }

    .autor {
        font-size: 1rem;
        margin-top: 20px;
    }
    /*contacto*/
    .seccion-contacto h2{
        font-size: 1.3rem;
        margin-bottom: 0.8rem;
        
    }
    .contenedor-contacto{
        width: 100%;
        flex-direction: column;
        padding: 0.5rem;
    }
    .campo{
        width: 100%;
        max-width: 320px;
    }

    .columna-izquierda{
        width: 90%;
        margin: 0 auto;
    }

    .columna-derecha {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-right: 1rem;
        padding-left: 1rem;
        width: 90%;
    }
    .boton-formulario{
        align-self: center;
    }
    .fila {
        flex-direction: column;
    }


}